@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  background-color: hsl(209, 23%, 22%);
  color: #ffffff;
}
.darkes {
  background-color: hsl(207, 26%, 17%);
  color: #ffffff;
}
body {
  background-color: rgb(238, 238, 238);
}
